<!DOCTYPE html>
<html>
<head>
    <%- include('partials/head') %>
</head>
<body>
<%- include('partials/navigation') %>
<h1>Success</h1>
<p>Student has been added with success!</p>
<a href="/">Add another student</a>
<a href="/students-list">View students list</a>
</body>
</html>
